/.SCR.java._trace
/.ScrService.java._trace
/.ScrReference.java._trace
/.ScrProperty.java._trace
/.OSGiDocPluginProperties.java._trace
/.OSGiDocPlugin.java._trace
/.OSGiDocTaskConvention.java._trace
/.OSGiDocPlugin.xtendbin
/.OSGiDocPluginProperties.xtendbin
/.OSGiDocTaskConvention.xtendbin
/.SCR.xtendbin
/.ScrProperty.xtendbin
/.ScrReference.xtendbin
/.ScrService.xtendbin
/OSGiDocPlugin.java
/OSGiDocPluginProperties.java
/OSGiDocTaskConvention.java
/SCR.java
/ScrProperty.java
/ScrReference.java
/ScrService.java
